* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden; /* Evita cualquier scroll accidental */
  width: auto;
  height: auto;
  background-color: #f5e6d3; /* El color crema que tienes en tu imagen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  position: relative;
  z-index: 1;
  width: 95vw;
  height: 90vh;
  color: black;
  background-color: gray;
  pointer-events: none;
  margin: 40px;
  overflow: hidden;
}

#container-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  outline: none;
  display: block;
}
